{% extends 'base.html' %}
{% block title%} edicion de Cursos {% endblock%}
{% block body%}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>
            Editar el curso {{curso.nombre}}
        </h1>
        <h2>
            Ingresar sus nuevos valores:
        </h2>
        <div class="card" >
            <div class="card-body">
                <form action="/editarCurso/" method="POST">{% csrf_token %}
    
                    <div class="form-group">
                        <input type="text" id="txtCodigo" value={{curso.codigo}} name="txtCodigo" class="form-control" placeholder="Codigo" minlength="6" maxlength="6" required>
                    </div>
    
                    <div class="form-group">
                        <input type="text" id="txtNombre" value="{{curso.nombre}}" name="txtNombre" class="form-control " placeholder="Nombre" maxlength="50" required>
                    </div>
    
                    <div class="form-group" >
                         <input type="text" id="numCreditos" name="numCreditos" class="form-control " placeholder="Creditos" minlength="1" maxlength="9" value="{{curso.creditos}}" required>
                    </div>
    
                    <div class="form-group" >
                            <button type="submit" class="btn btn-primary btn-block text-white">
                                guardar
                            </button>
                    </div>
                    
                </form>
            </div>
    
    
        </div>

    </div>
</div>


{% endblock %}